<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
<body class="exhibitions" onload="addYear()">
    <div class="container"> 
        <header class="header">
            <img id="logo" src="../static/MonoMuse1.png" alt="MonoMuse Museum Logo"> 
        </header>
        <nav class="nav_bar">
            <button id="hamburger" onclick="toggleNav()"> ☰ </button>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
        </nav>
        <main class="main">
            <h1>Exhibitions</h1>
        </main>
        <div class="exhibition1">
            <h2>Aircraft Exhibition</h2>
            <img src="../static/Smithsonians-National-Air-and-Space-Museum_America-by-Air.jpg" alt="Aircraft exhibit with vintage planes">
            <p>This exhibition features a collection of aircrafts that highlight the history of aviation, technology, and the creativity that defines these aircrafts. Visitors can expect to see a wide range of aircraft models, aircraft parts that are unique to each era, and flying simulations.</p>
        </div>
        <div class="exhibition2">
            <h2>Boat Exhibition</h2>
            <img src="../static/boat-exhibit.jpg" alt="Boat exhibit with vintage vessels">
            <p>This exhibition showcases the evolution of boats and their impact on maritime culture across the world. Visitors will have the opportunity to test their ability to navigate the seas with cutting-edge simulations and interact with these fascinating vessels.</p>
        </div>
        <div class="buytickets">
            <a href="tickets.html" id="cta">Buy Tickets</a>
        </div>
        <footer class="footer">
            <p id="copyYear"></p>
        </footer>
    </div>
</body>
</html>