<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
    <div class="container"> 
        <header class="header">
            <img id="logo" src="../static/MonoMuse1.png" alt="MonoMuse Museum Logo"> 
        </header>
        <nav class="nav_bar">
            <button id="hamburger" onclick="toggleNav()"> ☰ </button>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
        </nav>
        <main class="main">
            <h3>Current Exhibitions: Horse</h3>
            <p>this is a horse yes. wild horses with many hairs</p>
            <h3>Upcoming Exhibitions: Dog</h3>
            <p>this is a dog yes. wild dogs with many hairs</p>
        </main>
        <figure class="main_figure"></figure>
        <footer class="footer">
            <p id="copyYear"></p>
        </footer>
    </div>
</body>
</html>