<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="../static/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
</head>
<body class="tickets-page" onload="addYear()">
    <div class="container"> 
        <header class="header">
            <img id="logo" src="../static/MonoMuse1.png" alt="MonoMuse Museum Logo"> 
        </header>
        <nav class="nav_bar">
            <button id="hamburger" onclick="toggleNav()"> ☰ </button>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
        </nav>
        <main class="main">
            <h1>Buy Tickets</h1>
            <table>
                <tr>
                    <th>Age</th>
                    <th>Members</th>
                    <th>Non-Members</th>
                </tr>
                <tr>
                    <td>Adult</td>
                    <td>$18</td>
                    <td>$18</td>
                </tr>
                <tr>
                    <td>Student/Senior</td>
                    <td>$18</td>
                    <td>$18</td>
                </tr>
            </table>
            <div id="map"></div>
        </main>
        <figure class="main_figure">
            <h1>Availability</h1>
            <table>
                <tr>
                    <th>Days</th>
                    <th>Hours</th>
                </tr>
                <tr>
                    <td>Mondays to Fridays</td>
                    <td>9:00 AM - 5:00 PM</td>
                </tr>
                <tr>
                    <td>Weekends and Holidays</td>
                    <td>10:00 AM - 4:00 PM</td>
                </tr>
            </table>
            <div class="button-container-calendar">
					<button id="previous"
							onclick="previous()">
						‹
					</button>
                    <h3 id="monthAndYear"></h3>
					<button id="next"
							onclick="next()">
						›
					</button>
			</div>
			<table class="table-calendar"
				id="calendar"
				data-lang="en">
				<thead id="thead-month"></thead>
				<tbody id="calendar-body"></tbody>
			</table>
            <p id="selected-display">No date selected</p>
        </figure>
    <div class = "form">
            <form id="purchaseForm">
                <label for="date">Selected date:</label>
                <input type="date" id="date" name="date" oninput="validateDate()" required>
                <p id="dateError" class="error-msg"></p>
                <label for="ticketType">Ticket Type:</label>
                <select id="ticketType" name="ticketType" required>
                    <option value="">Select a ticket type</option>
                    <option value="adult">Adult - $18</option>
                    <option value="studentSenior">Student/Senior - $18</option>
                </select>
                <label for="tickets">Number of tickets:</label>
                <input type="number" id="tickets" name="tickets" min="1" max="10" oninput="calculatePrice(); validateQuantity();" required>
                <p id="quantityError" class="error-msg"></p>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" oninput="validateEmail()" required>
                <p id="emailError" class="error-msg"></p>
                <p id="totalPrice">Total: $0</p>
                <label>
                    <input type="checkbox" id="mailingList"> Join our mailing list
                </label>

                <button type="button" onclick="submitPurchase()">Place Order</button>
            </form>
        </div>
        <footer class="footer">
            <p id="copyYear"></p>
        </footer>
    </div>
</body>
</html>