<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore - MonoMuse</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
    <div class="container"> 
        <header class="header">
            <img id="logo" src="../static/MonoMuse1.png" alt="MonoMuse Museum Logo"> 
        </header>
        <nav class="nav_bar">
            <button id="hamburger" onclick="toggleNav()"> ☰ </button>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
        </nav>
        <main class="main">
            <h2>Explore MonoMuse</h2>
            <iframe src="https://www.youtube.com/embed/xFsyuDYKrDY?si=SLj5qrMkzu3JWzzR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <img src="../static/smithsoni.jpg" alt="Explore MonoMuse" width="500" height="300">
            <h3>Mission Statement</h3>
            <p>bleh. i will come up with this later.</p>
            <h3>Milestones</h3>
            <ul>
                <li>2006 - MonoMuse opens its doors</li>
                <li>2010 - First major exhibition: "Horse"</li>
            </ul>
        </main>
        <figure class="main_figure"></figure>
        <footer class="footer">
            <p id="copyYear"></p>
        </footer>
    </div>
</body>
</html>